.starRate {
    display:flex;
    justify-content: flex-end;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
}

.starRate li {
    margin-top: 30px;
    list-style: none;
}

.starRate img {
    width: 30px;
    height: 30px;
}