.kasa-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    margin-left: 230px;
}
header {
    position: absolute;
    width: 1240px;
    color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img .kasa-logo {
    height: 68px;
    width: 210px;
    object-fit: cover;
    margin: 40px auto;
}
