header {
    position: inherit;
    width: 1240px;
    color: white;
    text-align: left;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img .kasa-logo {
    height: 68px;
    width: 210px;
    object-fit: cover;
    margin: 40px auto;
}
