.kasa-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
header {
    width: 1240px;
    color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img .kasa-logo {
    height: 68px;
    width: 210px;
    object-fit: cover;
    margin-top: 40px;
    margin-left: 30px;
}
