.carousel {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 1240px;
    height: 415px;
    margin: auto;
}

.carousel-image {
    position: relative;
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    mix-blend-mode: normal;
    margin: 100px auto;
    left:220px;
    object-fit: cover;
}

.chevron {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    margin: auto;
    top: 250px;
    left: 260px;
    z-index: 2;
    gap: 1050px;
}

.previous, .next {
    width: 47px;
    height: 79px;
    color: #FFFFFF;
}

.previous {
    left: 0%;
    right: 92.26%;
    top: 35.74%;
    bottom: 35.44%;
}

.next {
    left: 92.26%;
    right: 0%;
    top: 33.93%;
    bottom: 37.24%;
}

.index {
    z-index: 3;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 200px;
    bottom: 0;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 24px;
    height: 32px;
}