footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
    background-color: #000;
    height: 124px;
    padding: 65px 0px 20px 0px;
    color: #fff;
}

.image-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width: auto;
    margin-bottom: 20px;
}

img {

    width: 122px;
    height: 39px;
}

p {
    margin-top: 45px;
    align-items: center;
    text-align: center;
}

@media (max-width: 1300px) {
    footer {
        margin: 0;
    }
}