footer {
    display: block;
    background-color: #000;
    text-align: center;
    width: auto;
    height: 124px;
    margin: auto;
    padding: 65px 0px 20px 0px;
    color: #fff;
    bottom: 0;
}

img {
    width: 122px;
    height: 39px;
}

p {
    margin-top: 45px;
}
    
