.description {
    display: flex;
    flex-direction: column;
    width: 582px;
}

.description-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 582px;
    height: 52px;
    background: #FF6060;
    border-radius: 10px;
    gap: 400px;
}

.description-title, .chevron-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
}

.description-content {
    height: auto;
    background: #E5E5E5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FF6060;
    padding: 20px;
}

@media (max-width: 998px) {
    .description-section {
        width: 998px;
        gap: 700px;
    }
    .description-content {
        width: 960px;
        padding-right: 20px;
    }
}