.background-slogan-homepage, .background-about-d {
    position: relative;
    margin: auto;
    top: 20px;
    z-index: 1;
    height: 223px;
    width: 1240px;
    border-radius: 25px;
    background-size: cover;
    overflow: hidden;
    mix-blend-mode: darken;
}

.background-slogan-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
        url("../../assets/background-slogan.png");
}

.background-about-d {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
        url("../../assets/background-about-d.png");
}

.background-slogan-homepage h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
}

@media (max-width: 998px) {
    .background-slogan-homepage {
        width: 998px;
        margin-left: 120px;
    }
    .background-slogan-homepage h2 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 40px;
    }
}