.lodging {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.main-lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: -20px auto;
}

.head-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1240px;
}

.rate-host {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: flex-end;
    align-items: flex-end;
    width: 93px;
    right: 30px;
}

.infos {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    height: auto;
    gap: 50px;
    margin-top: 30px;
    margin-left: -30px;
    margin-bottom: 60px;
}

@media (max-width: 998px) {
    .head-lodging {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 40px;
        width: 998px;
    }
    .rate-host {
        flex-direction: row-reverse;
        justify-content: space-between;
        min-width: 998px;
        margin-left: 30px;
    }
    .infos {
        flex-direction: column;
        width: 998px;
        margin-left: 40px;
    }
}