.lodging {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
}

.main-lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin: auto;
}

.head-lodging {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.rate-host {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: flex-end;
    align-items: flex-end;
    width: 93px;
    right: 30px;
}

.infos {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    gap: 30px;
}

@media (max-width: 1300px) {
    .main-lodging {
        max-width: 1300px;
        margin-right: 25px;
    }
    .rate-host {
        right: 50px;
    }
    .infos {
        gap: 15px;
    }
}

@media (max-width: 1240px) {
    .lodging {
        width: 100%;
    }
}

@media (max-width: 998px) {
    .main-lodging {
        margin-left: -20px;
    }
    .head-lodging {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 998px;
        margin: auto;
    }
    .rate-host {
        flex-direction: row-reverse;
        justify-content: flex-end;
        max-width: 998px;
        left: 0;
        right: 0;
        gap: 650px;
    }
    .infos {
        flex-direction: column;
        width: 998px;
        margin: 40px auto;
    }
}